.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(0, 255, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

header/*bandeau haut*/
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 111px;
    background-color: rgb(236,138,1);
    /* line-height:111px; */
}

h1 {font-family:Georgia;
    font-size: 30px;
    line-height: 50px;
    padding-bottom:.2em;
	border-bottom:1px solid #333;
	margin-top:1em;
	text-align: center;
	margin-bottom:.7em;
	}
